<h1 class="jumbotron">Hello, I am a Token for <i><span id="currentUser"> </span></i>.
    Can you reference me in CSOM or ASP.NET?</h1>


@section scripts {
    <script>

        (function () {
            "use strict";

            jQuery(function () {

            jQuery.ajax({
                url: "../api/Welcome",
                type: "GET",
                headers: {
                    "accept": "application/json",
                },
                success: function (data, status, jqXHR) {
                    jQuery("#currentUser").text(data);
                },
                error: function (jqXHR, status, message) {
                    alert(JSON.stringify(jqXHR));
                }
            });
        });
        }());


    </script>
}